{% extends '_base.html' %}

{% block content %}
<div class="container">
    <!-- Heading -->
    <section>
        <h1 class="mt-5">Aaron Rosser</h1>
        <p class="lead">BSc Computer Science Student at University of Leeds</p>
    </section>

    <!-- Contact -->
    <section>
        <h1 class="mt-5">Contact</h1>

        <a href="mailto:aaron@aaronrosser.xyz">
            <p class="d-inline-block"><i class="bi bi-envelope-fill"></i> Email: aaron@aaronrosser.xyz</p>
        </a>

        <a href="#" data-toggle="modal" data-target="#pgpKeyModal" class="d-inline-block ml-2">
            <i class="bi bi-lock-fill"></i>
            <span>PGP key</span>
        </a>

        <a href="mailto:aaron29th@gmail.com">
            <p><i class="bi bi-envelope-fill"></i> Alternate email: aaron29th@gmail.com</p>
        </a>

        <a href="https://www.linkedin.com/in/aaron-rosser-10" target="_blank">
            <p><i class="bi bi-linkedin"></i> LinkedIn</p>
        </a>

        <a href="https://github.com/aaron29th" target="_blank">
            <p><i class="bi bi-github"></i> GitHub</p>
        </a>

        <a href="https://gitlab.com/AaronRosser" target="_blank">
            <p><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill-rule="evenodd" viewBox="0 0 64 64">
                    <path d="M32 61.477L43.784 25.2H20.216z" fill="#e24329" />
                    <path d="M32 61.477L20.216 25.2H3.7z" fill="#fc6d26" />
                    <path d="M3.7 25.2L.12 36.23a2.44 2.44 0 0 0 .886 2.728L32 61.477z" fill="#fca326" />
                    <path d="M3.7 25.2h16.515L13.118 3.366c-.365-1.124-1.955-1.124-2.32 0z" fill="#e24329" />
                    <path d="M32 61.477L43.784 25.2H60.3z" fill="#fc6d26" />
                    <path d="M60.3 25.2l3.58 11.02a2.44 2.44 0 0 1-.886 2.728L32 61.477z" fill="#fca326" />
                    <path d="M60.3 25.2H43.784l7.098-21.844c.365-1.124 1.955-1.124 2.32 0z" fill="#e24329" /></svg>
                GitLab</p>
        </a>

        <a href="https://hackerone.com/aaron29th" target="_blank">
            <p>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#000200" fill-rule="evenodd"
                    viewBox="0 0 64 64">
                    <path
                        d="M22.347.793C21.466.264 20.496 0 19.262 0c-1.322 0-2.38.264-3.174.793s-1.234 1.234-1.234 2.116v58.094c0 .705.44 1.4 1.234 2.028a5.14 5.14 0 0 0 3.085.97 5.34 5.34 0 0 0 3.085-.97c.88-.617 1.322-1.322 1.322-2.028V2.9c.088-.882-.353-1.587-1.234-2.116m7.318 30.5c-.53.53-.793 1.234-.617 2.292.088 1.058.53 2.028 1.4 2.9.793.882 1.763 1.5 2.82 1.763s1.85.088 2.38-.353l4.672-2.9v26.006c0 .705.44 1.4 1.234 2.028s1.85.97 3.085.97 2.292-.353 3.174-.97 1.322-1.322 1.322-2.028V25.917c0-.882-.44-1.5-1.322-2.028s-1.94-.793-3.262-.793-2.292.264-3.085.793l-11.813 7.405" />
                </svg>
                HackerOne</p>
        </a>
    </section>

    <!-- Skills-->
    <section>
        <h1 class="mt-5">Skills</h1>
        <ul>
            <li>Git</li>
            <li>Unit and integration testing</li>
            <li>C#
                <ul>
                    <li>WinForms</li>
                    <li>ASP.Net Core</li>
                    <li>Entity Framework</li>
                    <li>Limited use of Windows Presentation Foundation</li>
                </ul>
            </li>
            <li>Python
                <ul>
                    <li>General use</li>
                    <li>NumPy</li>
                    <li>SQLAlchemy</li>
                    <li>Flask</li>
                </ul>
            </li>
            <li>C++
                <ul>
                    <li>General use</li>
                    <li>Arduino</li>
                    <li>Qt</li>
                    <li>Legacy fixed function pipeline OpenGL</li>
                </ul>
            </li>
            <li>PHP</li>
            <li>Java</li>
            <li>JavaScript along with HTML and CSS</li>
            <li>Reverse Engineering / basic assembly programming
                <ul>
                    <li>PowerPC</li>
                    <li>x64</li>
                </ul>
            </li>
        </ul>
    </section>

    <!-- Projects -->
    <section>
        <h1 class="mt-5">Projects</h1>
        <div class="card-columns">
            {% for p in projects %}
            {% include 'snippets/projects/_project_card.html' %}
            {% endfor %}
        </div>
    </section>

    <!-- PGP Modal -->
    <div class="modal fade" id="pgpKeyModal" tabindex="-1" role="dialog" aria-labelledby="pgpKeyModalTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered pgp-modal" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="pgpKeyModalTitle">aaron@aaronrosser.xyz - PGP key</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body text-left bg-light">
                    <pre id="pgpKey" class="pgp-key">{{ pgp_key['data'] }}</pre>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-success" id="copyPgpKeyBtn">Copy</button>
                    <a type="button" class="btn btn-danger" id="savePgpKeyFileBtn" href="data:text/plain;charset=utf-8,{{ pgp_key['encoded_data'] }}" download="{{ pgp_key['filename'] }}">Save to file</a>
                </div>
            </div>
        </div>
    </div>

</div>



{% for p in projects %}

{% include 'snippets/projects/_images_modal.html' %}
{% endfor %}

{% endblock %}

{% block scripts %}
<script>
    // Enable popovers
    $(function () {
        $('[data-toggle="popover"]').popover()
    });

    $( document ).ready(function() {
        // Init copied popover
        $('#copyPgpKeyBtn').popover({
            content: 'Error',
            delay: { 
                "show": 0, 
                "hide": 0 
            },
            placement: 'top',
            trigger: 'manual'
        });
    });

    $('#copyPgpKeyBtn').click(function() {
        if (!navigator.clipboard) {
            $('#copyPgpKeyBtn').attr('data-content', 'Copy failed');
            $('#copyPgpKeyBtn').popover('show');
        } else {
            let pgpKey = $('#pgpKey').text();

            navigator.clipboard.writeText(pgpKey).then(function() {
                $('#copyPgpKeyBtn').attr('data-content', 'Copied');
                $('#copyPgpKeyBtn').popover('show');
            }, function(err) {
                $('#copyPgpKeyBtn').attr('data-content', 'Copy failed');
                $('#copyPgpKeyBtn').popover('show');
            });
        }

        setTimeout(function() {
            $('#copyPgpKeyBtn').popover('hide');
        }, 1000);
});
</script>
{% endblock %}