{% extends '_base.html' %}

{% block content %}
<div class="container">
    <section>
        <h1 class="mt-5">Aaron Rosser</h1>
        <p class="lead">BSc Computer Science Student at University of Leeds</p>
    </section>

    <section>
        <h1 class="mt-5">Contact</h1>
        <a href="mailto:aaron@aaronrosser.xyz">
            <p><i class="bi bi-envelope-fill"></i> Email: aaron@aaronrosser.xyz</p>
        </a>
        <a href="https://www.linkedin.com/in/aaron-rosser-10" target="_blank">
            <p><i class="bi bi-linkedin"></i> LinkedIn</p>
        </a>
        <a href="https://github.com/aaron29th" target="_blank">
            <p><i class="bi bi-github"></i> GitHub</p>
        </a>
        <a href="https://gitlab.com/AaronRosser" target="_blank">
            <p><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill-rule="evenodd" viewBox="0 0 64 64">
                    <path d="M32 61.477L43.784 25.2H20.216z" fill="#e24329" />
                    <path d="M32 61.477L20.216 25.2H3.7z" fill="#fc6d26" />
                    <path d="M3.7 25.2L.12 36.23a2.44 2.44 0 0 0 .886 2.728L32 61.477z" fill="#fca326" />
                    <path d="M3.7 25.2h16.515L13.118 3.366c-.365-1.124-1.955-1.124-2.32 0z" fill="#e24329" />
                    <path d="M32 61.477L43.784 25.2H60.3z" fill="#fc6d26" />
                    <path d="M60.3 25.2l3.58 11.02a2.44 2.44 0 0 1-.886 2.728L32 61.477z" fill="#fca326" />
                    <path d="M60.3 25.2H43.784l7.098-21.844c.365-1.124 1.955-1.124 2.32 0z" fill="#e24329" /></svg>
                GitLab</p>
        </a>
        <a href="https://hackerone.com/aaron29th" target="_blank">
            <p>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#000200" fill-rule="evenodd"
                    viewBox="0 0 64 64">
                    <path
                        d="M22.347.793C21.466.264 20.496 0 19.262 0c-1.322 0-2.38.264-3.174.793s-1.234 1.234-1.234 2.116v58.094c0 .705.44 1.4 1.234 2.028a5.14 5.14 0 0 0 3.085.97 5.34 5.34 0 0 0 3.085-.97c.88-.617 1.322-1.322 1.322-2.028V2.9c.088-.882-.353-1.587-1.234-2.116m7.318 30.5c-.53.53-.793 1.234-.617 2.292.088 1.058.53 2.028 1.4 2.9.793.882 1.763 1.5 2.82 1.763s1.85.088 2.38-.353l4.672-2.9v26.006c0 .705.44 1.4 1.234 2.028s1.85.97 3.085.97 2.292-.353 3.174-.97 1.322-1.322 1.322-2.028V25.917c0-.882-.44-1.5-1.322-2.028s-1.94-.793-3.262-.793-2.292.264-3.085.793l-11.813 7.405" />
                </svg>
                HackerOne</p>
        </a>
    </section>

    <section>
        <h1 class="mt-5">Skills</h1>
        <ul>
            <li>Git</li>
            <li>Unit and integration testing</li>
            <li>C# (WinForms, .Net Core and limited use of Windows Presentation Foundation)</li>
            <li>Python (General use, NumPy and Flask)</li>
            <li>C++ (General use, Arduino and Qt)</li>
            <li>PHP</li>
            <li>Java</li>
            <li>JavaScript (General use, Node.js and jQuery) along with HTML and CSS</li>
            <li>Reverse Engineering (PowerPC and x64)</li>
        </ul>
    </section>

    <section>
        <h1 class="mt-5">Projects test</h1>
        <div class="card-columns">
            {% for p in projects %}
                {% include 'snippets/projects/_project_card.html' %}
            {% endfor %}
        </div> 
    </section>
</div>

{% for p in projects %}
    {% include 'snippets/projects/_images_modal.html' %}
{% endfor %}

{% endblock %}

{% block scripts %}
<script>
    $(function () {
        $('[data-toggle="popover"]').popover({
            trigger: 'focus'
        });

        $('[data-toggle="popover"]').click(function (event) {
            event.preventDefault();
        });
    });
</script>
{% endblock %}