{% extends '_base.html' %}

{% block content %}
<div class="container">
    <section>
        <h1 class="mt-5">Aaron Rosser</h1>
        <p class="lead">BSc Computer Science Student at University of Leeds</p>
    </section>

    <section>
        <h1 class="mt-5">Contact</h1>
        <a href="mailto:aaron@aaronrosser.xyz">
            <p><i class="bi bi-envelope-fill"></i> Email: aaron@aaronrosser.xyz</p>
        </a>
        <a href="https://www.linkedin.com/in/aaron-rosser-10" target="_blank">
            <p><i class="bi bi-linkedin"></i> LinkedIn</p>
        </a>
        <a href="https://github.com/aaron29th" target="_blank">
            <p><i class="bi bi-github"></i> GitHub</p>
        </a>
        <a href="https://gitlab.com/AaronRosser" target="_blank">
            <p><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill-rule="evenodd" viewBox="0 0 64 64">
                    <path d="M32 61.477L43.784 25.2H20.216z" fill="#e24329" />
                    <path d="M32 61.477L20.216 25.2H3.7z" fill="#fc6d26" />
                    <path d="M3.7 25.2L.12 36.23a2.44 2.44 0 0 0 .886 2.728L32 61.477z" fill="#fca326" />
                    <path d="M3.7 25.2h16.515L13.118 3.366c-.365-1.124-1.955-1.124-2.32 0z" fill="#e24329" />
                    <path d="M32 61.477L43.784 25.2H60.3z" fill="#fc6d26" />
                    <path d="M60.3 25.2l3.58 11.02a2.44 2.44 0 0 1-.886 2.728L32 61.477z" fill="#fca326" />
                    <path d="M60.3 25.2H43.784l7.098-21.844c.365-1.124 1.955-1.124 2.32 0z" fill="#e24329" /></svg>
                GitLab</p>
        </a>
        <a href="https://hackerone.com/aaron29th" target="_blank">
            <p>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#000200" fill-rule="evenodd"
                    viewBox="0 0 64 64">
                    <path
                        d="M22.347.793C21.466.264 20.496 0 19.262 0c-1.322 0-2.38.264-3.174.793s-1.234 1.234-1.234 2.116v58.094c0 .705.44 1.4 1.234 2.028a5.14 5.14 0 0 0 3.085.97 5.34 5.34 0 0 0 3.085-.97c.88-.617 1.322-1.322 1.322-2.028V2.9c.088-.882-.353-1.587-1.234-2.116m7.318 30.5c-.53.53-.793 1.234-.617 2.292.088 1.058.53 2.028 1.4 2.9.793.882 1.763 1.5 2.82 1.763s1.85.088 2.38-.353l4.672-2.9v26.006c0 .705.44 1.4 1.234 2.028s1.85.97 3.085.97 2.292-.353 3.174-.97 1.322-1.322 1.322-2.028V25.917c0-.882-.44-1.5-1.322-2.028s-1.94-.793-3.262-.793-2.292.264-3.085.793l-11.813 7.405" />
                </svg>
                HackerOne</p>
        </a>
    </section>

    <section>
        <h1 class="mt-5">Skills</h1>
        <ul>
            <li>Git</li>
            <li>Unit and integration testing</li>
            <li>C# (WinForms, .Net Core and limited use of Windows Presentation Foundation)</li>
            <li>Python (General use, NumPy and Flask)</li>
            <li>C++ (General use, Arduino and Qt)</li>
            <li>PHP</li>
            <li>Java</li>
            <li>JavaScript (General use, Node.js and jQuery) along with HTML and CSS</li>
            <li>Reverse Engineering (PowerPC and x64)</li>
        </ul>
    </section>

    <section>
        <h1 class="mt-5">Projects</h1>
        <div class="card-columns">
            <div class="card">
                <div class="card-body">
                    <h5 class="text-dark card-title mb-0">EF Cash Carry Tool </h5>
                    <p class="card-text text-muted">Independent</p>
                    <p class="card-text mb-0">Developed a proof-of-concept WinForms application, written in C#, to
                        automate
                        regular tasks at work by parsing pdf documents and using the data to generate new pdf
                        documents,
                        this allowed the tasks to be done in less than a quarter of the previous time.</p>
                    <div class="text-center">
                        <a href='#' data-toggle="modal" data-target="#efCashCarryToolModal" class="mr-2">Screenshots</a>
                        •
                        <a href="https://github.com/aaron29th/EF_Cash_Carry_Tool" target="_blank" class="ml-2">Git
                            repository</a>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title mb-0">Rage Request</h5>
                    <p class="card-text text-muted">Independent</p>
                    <p class="card-text mb-0">Reverse engineered GTA 5’s custom network encryption and created a python
                        library that implemented it to aid in looking for security vulnerabilities for Rockstar
                        Game’s bug
                        bounty program.</p>
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title mb-0">Cinema Website</h5>
                    <p class="card-text text-muted">Uni - Year 2 - Software Engineering Project</p>
                    <p class="card-text mb-0">Worked in a group of four following a scrum methodology to create a fully
                        featured cinema website with booking, admin and analytics functionally written in python
                        using the Flask framework.</p>
                    <div class="text-center">
                        <a href='#' data-toggle="modal" data-target="#cinemaWebsiteModal">Screenshots</a>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title mb-0">GTA 5 Json Editor</h5>
                    <p class="card-text text-muted">Independent</p>
                    <p class="card-text mb-0">WinForms tool, written in C#, to edit memory and call in game functions that relate to json objects in Grand Theft Auto 5 on PS3.</p>
                    <div class="text-center">
                        <a href='#' data-toggle="modal" data-target="#gta5JsonEditorModal">Screenshots</a>
                        •
                        <a href="https://github.com/aaron29th/GTA_5_Json_Editor" target="_blank" class="ml-2">Git repository</a>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title mb-0">Web Marketplace</h5>
                    <p class="card-text text-muted">Uni - Year 2 - Web application development</p>
                    <p class="card-text mb-0">Developed a responsive marketplace website written in python using the
                        Flask
                        framework.</p>

                    <div class="text-center">
                        <a href='#' data-toggle="modal" data-target="#webMarketPlaceModal">Screenshots</a>
                        •
                        <a href="https://gitlab.com/AaronRosser/flask_web_marketplace" target="_blank" class="ml-2">Git
                            repository</a>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title mb-0">Qt Video Player</h5>
                    <p class="card-text text-muted">Uni - Year 2 - User Interfaces</p>
                    <p class="card-text mb-0">Worked in a team of six to design and prototype a video player written in
                        C++ using Qt.</p>

                    <div class="text-center">
                        <a href='#' data-toggle="modal" data-target="#qtVideoPlayerModal" class="mr-2">Screenshots</a> •
                        <a href="https://gitlab.com/AaronRosser/user_interfaces_comp2811_cw3" target="_blank"
                            class="ml-2">Git repository</a>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-body">

                    <h5 class="card-title mb-0">xv6 Operating System Improvements</h5>

                    <p class="card-text text-muted">Uni - Year 2 - Operating Systems</p>
                    <p class="card-text mb-0">Added user mode malloc / free, copy-on-write memory management and
                        implemented
                        a new shell for the xv6 operating system written in C.</p>
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title mb-0">YouTube Notification Bot</h5>
                    <p class="card-text text-muted">A Level Computing</p>
                    <p class="card-text mb-0">Developed a YouTube Pub/Sub bot written in C# using .Net Core along with a
                        WinForms client application, written in C#, to automatically post tweets and discord
                        messages
                        when YouTube videos were uploaded.</p>
                    <div class="text-center">
                        <a href="https://github.com/aaron29th/ALevelYouTubeNotificationBot" target="_blank">Git repository</a>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title mb-0">Argos Tools</h5>
                    <p class="card-text text-muted">Independent</p>
                    <p class="card-text mb-0">Site to help Argos employees search products without whole cat numbers as
                        well
                        as find similarly pronounced locations to aid with finding missing products. </p>
                    <div class="text-center">
                        <a href="https://aaronrosser.xyz/argos" target="_blank" class="mr-2">Site</a> •
                        <a href="https://github.com/aaron29th/ArgosTools" target="_blank" class="ml-2">Git
                            repository</a>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title mb-0">Jack Compiler</h5>
                    <p class="card-text text-muted">Uni - Year 2 - Compiler Design</p>
                    <p class="card-text mb-0">Developed a compiler for the Jack programming language written in C.</p>
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title mb-0">Covid-19 Track and Trace Website</h5>
                    <p class="card-text text-muted">Uni - Year 2 - Software Engineering Principles</p>
                    <p class="card-text mb-0">Developed a website for businesses to record and process customer details
                        for NHS track and trace, written in python using the Flask framework.</p>
                    <div class="text-center">
                        <a href='#' data-toggle="modal" data-target="#covidTrackTraceWebsiteModal">Screenshots</a>
                        •
                        <a href="https://gitlab.com/AaronRosser/Flask_Covid_Track_Trace" target="_blank" class="ml-2">Git repository</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<!-- Cinema website modal -->
{% set id = 'cinemaWebsiteModal' %}
{% set images = [
    ('cinema_website/home.png', 'Home page'),
    ('cinema_website/login.png', 'Login page'),
    ('cinema_website/browse_movies.png', 'Browse movies page'),
    ('cinema_website/specific_movie.png', 'Movie page'),
    ('cinema_website/seat_selection.png', 'Seat reservation'),
    ('cinema_website/analysis.png', 'Analysis page'),
    ('cinema_website/db_design.png', 'Database design')
    ] %}
{% include 'snippets/_images_modal.html' %}

<!-- Covid track and trace website modal -->
{% set id = 'covidTrackTraceWebsiteModal' %}
{% set images = [
    ('covid_track_trace_website/check_in.png', 'Check in page'),
    ('covid_track_trace_website/editing_business_details.png', 'Mange business page')
    ] %}
{% include 'snippets/_images_modal.html' %}

<!-- Web marketplace modal -->
{% set id = 'webMarketPlaceModal' %}
{% set images = [
    ('web_market_place/user_profile.png', 'User profile'),
    ('web_market_place/product_listing.png', 'Product listing'),
    ('web_market_place/manage_account.png', 'Account management'),
    ('web_market_place/wishlist.png', 'Wishlist'),
    ('web_market_place/database_model_diagram.png', 'Database deign')
    ] %}
{% include 'snippets/_images_modal.html' %}

<!-- EF modal -->
{% set id = 'efCashCarryToolModal' %}
{% set images = [
    ('ef_cash_carry_tool/pick_sheet.png', 'Importing a pick via print to PDF'),
    ('ef_cash_carry_tool/front_sheet.png', 'Generating a new pdf with extracted details'),
    ('ef_cash_carry_tool/labels.png', 'Generating pallet labels using extracted information'),
    ('ef_cash_carry_tool/class_diagram.png', 'Class diagram')
    ] %}
{% include 'snippets/_images_modal.html' %}

<!-- Qt Vdeo player modal -->
{% set id = 'qtVideoPlayerModal' %}
{% set images = [
    ('qt_video_player/player.png', 'Video player'),
    ('qt_video_player/edit_video.png', 'Editing a video\'s details')
    ] %}
{% include 'snippets/_images_modal.html' %}

<!-- GTA 5 Json Editor -->
{% set id = 'gta5JsonEditorModal' %}
{% set images = [
    ('gta_5_json_editor/objects.png', 'Memory editing dictionaries'),
    ('gta_5_json_editor/arrays.png', 'Memory editing arrays'),
    ('gta_5_json_editor/misc.png', 'Misc remote procedure call and basic memory editing'),
    ('gta_5_json_editor/jobs.png', 'Existing job browser'),
    ('gta_5_json_editor/jobs_2.png', 'Job updating and copying menu')
    ] %}
{% include 'snippets/_images_modal.html' %}

{% endblock %}

{% block scripts %}
<script>
    $(function () {
        $('[data-toggle="popover"]').popover({
            trigger: 'focus'
        });

        $('[data-toggle="popover"]').click(function (event) {
            event.preventDefault();
        });
    });
</script>
{% endblock %}